@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

* {
  font-family: "Vazir";
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

:root.dark {
  --background: #020617;
  --foreground: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.4s, color 0.4s;
}

html {
  scroll-behavior: smooth;
}